In [7]:
import pandas as pd
df1 = pd.read_csv("weather_data.csv")
df2 = pd.read_csv("weather_data1.csv")
df1,df2

(         day  temperature  windspeed   event
 0   1/1/2017         32.0        6.0    Rain
 1   1/4/2017          NaN        9.0   Sunny
 2   1/5/2017         28.0        NaN    Snow
 3   1/6/2017          NaN        7.0     NaN
 4   1/7/2017         32.0        NaN    Rain
 5   1/8/2017          NaN        NaN   Sunny
 6   1/9/2017          NaN        NaN     NaN
 7  1/10/2017         34.0        8.0  Cloudy
 8  1/11/2017         40.0       12.0   Sunny,
         day  temperature  windspeed  event
 0  1/1/2017           32          6   Rain
 1  1/2/2017       -99999          7  Sunny
 2  1/3/2017           28     -99999   Snow
 3  1/4/2017       -99999          7      0
 4  1/5/2017           32     -99999   Rain
 5  1/6/2017           31          2  Sunny
 6  1/6/2017           34          5      0)

In [10]:
df = pd.concat([df1,df2],ignore_index=True)
df

          day  temperature  windspeed   event
0    1/1/2017         32.0        6.0    Rain
1    1/4/2017          NaN        9.0   Sunny
2    1/5/2017         28.0        NaN    Snow
3    1/6/2017          NaN        7.0     NaN
4    1/7/2017         32.0        NaN    Rain
5    1/8/2017          NaN        NaN   Sunny
6    1/9/2017          NaN        NaN     NaN
7   1/10/2017         34.0        8.0  Cloudy
8   1/11/2017         40.0       12.0   Sunny
9    1/1/2017         32.0        6.0    Rain
10   1/2/2017     -99999.0        7.0   Sunny
11   1/3/2017         28.0   -99999.0    Snow
12   1/4/2017     -99999.0        7.0       0
13   1/5/2017         32.0   -99999.0    Rain
14   1/6/2017         31.0        2.0   Sunny
15   1/6/2017         34.0        5.0       0